// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         // "useBuiltIns": "entry",
//         "targets": {
//           "chrome": "41"
//         }
//       }
//     ]
//   ]
// }
// {
//   "targets": {
//     "chrome": "41"
//     // "ie": "11"
//   }
// }

// {
//   "presets": ["@babel/preset-env", "@babel/preset-react"],

//   "plugins": ["react-hot-loader/babel", "transform-object-rest-spread"]
// }

{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": "41"
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "compact": false
}
