/* Based on Sublime Text's Monokai theme */

.cm-s-svgCodeContainer.CodeMirror {
  background: #494949;
  color: #f8f8f2;
  /* border: 2px solid #383838; */
  border: 1.5px solid #383838;

  /* font-family: sans-serif; */
}
.cm-s-svgCodeContainer div.CodeMirror-selected {
  background: #49483e;
}
.cm-s-svgCodeContainer .CodeMirror-line::selection,
.cm-s-svgCodeContainer .CodeMirror-line > span::selection,
.cm-s-svgCodeContainer .CodeMirror-line > span > span::selection {
  background: rgba(73, 72, 62, 0.99);
}
.cm-s-svgCodeContainer .CodeMirror-line::-moz-selection,
.cm-s-svgCodeContainer .CodeMirror-line > span::-moz-selection,
.cm-s-svgCodeContainer .CodeMirror-line > span > span::-moz-selection {
  background: rgba(73, 72, 62, 0.99);
}
.cm-s-svgCodeContainer .CodeMirror-gutters {
  background: #383838;
  border-right: 1px;
}
.cm-s-svgCodeContainer .CodeMirror-guttermarker {
  color: white;
}
.cm-s-svgCodeContainer .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}
.cm-s-svgCodeContainer .CodeMirror-linenumber {
  color: #d0d0d0;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
.cm-s-svgCodeContainer .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}

.cm-s-svgCodeContainer span.cm-comment {
  color: #e0dfd6;
}
.cm-s-svgCodeContainer span.cm-atom {
  color: #ae81ff;
}
.cm-s-svgCodeContainer span.cm-number {
  color: #ae81ff;
}

.cm-s-svgCodeContainer span.cm-comment.cm-attribute {
  color: #97b757;
}
.cm-s-svgCodeContainer span.cm-comment.cm-def {
  color: #bc9262;
}
.cm-s-svgCodeContainer span.cm-comment.cm-tag {
  color: #bc6283;
}
.cm-s-svgCodeContainer span.cm-comment.cm-type {
  color: #5998a6;
}

.cm-s-svgCodeContainer span.cm-property,
.cm-s-svgCodeContainer span.cm-attribute {
  color: #a6e22e;
}
.cm-s-svgCodeContainer span.cm-keyword {
  color: #f92672;
}
.cm-s-svgCodeContainer span.cm-builtin {
  color: #66d9ef;
}
.cm-s-svgCodeContainer span.cm-string {
  color: #e6db74;
}

.cm-s-svgCodeContainer span.cm-variable {
  color: #f8f8f2;
}
.cm-s-svgCodeContainer span.cm-variable-2 {
  color: #9effff;
}
.cm-s-svgCodeContainer span.cm-variable-3,
.cm-s-svgCodeContainer span.cm-type {
  color: #66d9ef;
}
.cm-s-svgCodeContainer span.cm-def {
  color: #fd971f;
}
.cm-s-svgCodeContainer span.cm-bracket {
  color: #f8f8f2;
}
.cm-s-svgCodeContainer span.cm-tag {
  color: #f92672;
}
.cm-s-svgCodeContainer span.cm-header {
  color: #ae81ff;
}
.cm-s-svgCodeContainer span.cm-link {
  color: #ae81ff;
}
.cm-s-svgCodeContainer span.cm-error {
  background: #f92672;
  color: #f8f8f0;
}

.cm-s-svgCodeContainer .CodeMirror-activeline-background {
  background: #373831;
}
.cm-s-svgCodeContainer .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
